*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    text-align: center;
    color:black
}
@import './Styles/moviecard.scss';
@import './Styles/moviecards.scss';
@import './Styles/MovieSummary.scss'